{% extends "admin/change_form.html" %}
{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
    (function($) {
        $(document).ready(function($) {
            // Haciendo que si los checkbox de default son presionados se limpien los demas
            $(".inline-group :checkbox").click(function(){
                if ($(this).attr('checked')) { // grab checked value of original
                    //var checked = ' checked="checked"';
                    $(".inline-group :checkbox").not(this).removeAttr('checked');
                }
            });
         });
    })(django.jQuery);
</script>

{% endblock %}