<div id="login_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button><br>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#Login" data-toggle="tab"><strong>Login</strong></a></li>
      <li><a href="#Registrarse" data-toggle="tab"><strong>Registrarse</strong></a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="Login">
      <form action="/login/" method="post" class="form-horizontal" id="id-login-form">{% csrf_token %}
        <fieldset>
          <div class="alert alert-error hide">
          </div>
          <div class="control-group">
            <label class="control-label">Usuario o Correo</label>
            <div class="controls">
              <input id="id-username-exist" type="text" name="username" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input id="id-password-exist" type="password" name="password" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox"></label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Mantener siempre conectado.
              </label>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary btn-large">Login</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="tab-pane" id="Registrarse">
      <form action="/register/" method="post" class="form-horizontal" id="id-register-form">{% csrf_token %}
        <fieldset>
          <div class="control-group">
            <label class="control-label">Nombre</label>
            <div class="controls">
               <input id="id_first_name" type="text" name="first_name" class="span3" >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Apellidos</label>
            <div class="controls">
              <input id="id_last_name" type="text" name="last_name" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Correo</label>
            <div class="controls">
              <input id="id_email" type="text" name="email" class="span3" >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
               <input id="id_password" name="password" type="password" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Confirma el Password</label>
            <div class="controls">
               <input id="id_repeat" name="password_repeat" type="password" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Usuario</label>
            <div class="controls">
               <input id="id_username" type="text" name="username" class="span3">
            </div>
          </div>
          <label class="control-label" for="optionsCheckbox"></label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="optionsCheckbox" value="option1">
              Suscribirse a la Newsletter
            </label>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary btn-large">Registrarse</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" >Olvidaste tu password?</a><br>
    <a href="#" >Olvidaste tu Usuario o Correo?</a>
  </div>
</div>