{% extends "aldrovanda/base.html" %}

{% block title %}{{ item.name }} - {{ item.description }}{% endblock %}
{% block script %} 
<script src="{{ STATIC_PREFIX }}js/item.js"></script>
{% endblock %}

{% block body %}
{% load mptt_tags %}

<div class="container">
  <div class="row">
    <div class="span8">
      <h1>{{ item.name }}</h1>
      <ul class="breadcrumb">
        <li>
        {% for cat in category.get_ancestors %}
          <a href="{{ cat.get_absolute_url }}">
          {{ cat.name }}
          </a>
          <span class="separator">&rsaquo;</span> 
        {% endfor %}
        </li>
        <li>
          <a href="{{ category.get_absolute_url}}">
          {{category.name}}
          </a>
        </li>
      </ul>
      {% load thumbnail %}
      <div class="row-fluid">
        <div class="span10">
        {% for image in item.image_set.all %}
        {% if image.default %}
          <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            <a href="/media/{{ image.image }}" title="" rel="gallery">
              <img class="img-sorce" src="{% thumbnail image.image 600x600 crop %}" width="{{image.width }}" height="{{ image.height }}" />
            </a>
          </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="span2">	
          <ul class="thumbnails">
          {% for image in item.image_set.all %}
            <li>
              <a href="#" class="thumbnail" title="{{ item.description }}">
                <img rel="{% thumbnail image.image 600x600 crop %}" class="img-thumbnail" src="{% thumbnail image.image 120x120 crop %}" width="{{ image.width }}" height="{{ image.height }}" />
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <p>{{ item.description }}</p>
      <!-- modal-gallery is the modal dialog used for the image gallery -->
      <div id="modal-gallery" class="modal modal-gallery hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
      </div>
    </div><!--/span-->
    <div class="span4">
      <div class="alert alert-error hide" id="error-favorite">
      </div>
      <h2>&#36;{{ item.price }}</h2>
      <a class="btn btn-success btn-large" href="#">
        <i class="icon-shopping-cart icon-white"></i>
          <span class="button_line">|</span>
          Checkout
      </a>

      <form action="/{% if item_favorite %}favorite/remove/item{% else %}favorite/add/item{% endif %}/" method="post" class="clearfix" id="id-favorite-form">

        <input type="hidden" name="item_id" value="{{ item.id }}" />
        <a alt="Añadir a favoritos" {% if user.is_authenticated %}class="btn btn-mini btn-favorite" href="#"{% else %}class="btn btn-mini" data-toggle="modal" href="#login_modal"{% endif %} >
          <i class="icon-heart  {% if item_favorite %}icon-red{% endif %}" id="9999"></i>
          <img id="icon-preloaded" class="hide" src="{{ STATIC_PREFIX }}img/preloded_14x14.gif" />
            Favorito
        </a>
      </form>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
{% endblock %}