@import "bootstrap/bootstrap.less";

body {
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#header {
	//width:960px; margin-left: auto; margin-right: auto;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin:0px;
}
label.valid {
  display: block;
  visibility: hidden;
  padding:0px:
  margin:0px;
}






