@import "bootstrap/bootstrap.less";

body {
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#header {
	//width:960px; margin-left: auto; margin-right: auto;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin:0px;
}
label.valid {
  display: none;
  visibility: hidden;
  padding:0px:
  margin:0px;
}
.listing-title {
  width:100%;
}
.listing-maker a{
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#b2b2b2;
  width:60%;
}

.listing-price {
  float:left;
  display:inline; 
  color:#78c042;
  line-height:14px;
  text-align:right;
  width:40%;
  overflow:hidden;
}
