{% load static %} {% get_static_prefix as STATIC_PREFIX %} 
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Aldrovanda - justa a reallity{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet/less" href="{{ STATIC_PREFIX  }}less/style.less">
  <script src="{{ STATIC_PREFIX }}js/libs/less-1.3.0.min.js"></script>
	
  <!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
  to style.css, and replace the 2 lines above by this one:
  <link rel="stylesheet/less" href="less/style.css">
   -->
  <link rel="stylesheet/less" href="{{ STATIC_PREFIX  }}css/jquery-ui-1.8.23.custom.css">
  
  <script src="{{ STATIC_PREFIX }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% if not user.is_authenticated %}
  {% include "aldrovanda/include/login_form.html" %}
{% endif %}
<div id="header">
  {% block header %}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url aldrovanda.views.index %}">Aldrovanda</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="#">Home</a></li>
            <li class="divider-vertical"></li>
            <li><a href="">Comprar</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{% url aldrovanda.views.sell %}">Vender</a></li>
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            <li><a href="{% url aldrovanda.views.index %}">Favoritos</a></li>
            <li class="divider-vertical"></li>
            {% endif %}
          </ul>
          <ul class="nav pull-right">
          <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Buscar">
          </form>
          <li class="divider-vertical"></li>
          {% if user.is_authenticated %}
          <li><a href="#">{{ user }}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Configuracion de la cuenta</a></li>
              <li><a href="#">Configuracion de privacidad</a></li>
              <li><a href="{% url aldrovanda.views.disconnect %}">Salir</a></li>
              <li class="divider"></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </li>
          {% else %}
          <li><a data-toggle="modal" href="#login_modal">Login</a></li>
          {% endif %}
        </ul>
	    </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
  {% endblock %}
</div><!-- /header -->
{% block body %}{% endblock %}
<div class="container">
  <div class="container-fluid">
   	<footer>
      <div class="container">
        <ul class="nav nav-pills pull-right">
          <li id="footer-blog">
            <a href="#" title="Blog">Blog</a>
          </li>
          <li id="footer-about">
            <a href="#Abaut">About</a>
          </li>
          <li id="footer-contact">
            <a href="#Contacto">Contacto</a>
          </li>
          <li id="footer-terms">
            <a href="#Terminos" title="Terminos de uso">Terminos</a>
          </li>
          <li id="footer-privacy">
            <a href="Privacidad">Privacidad</a>
          </li>
          <li id="footer-copyright" class="last">
            <a href="#Copyright">Copyright</a>
          </li>
        </ul>
      </div>
  	</footer>
  </div> <!-- /container -->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="{{ STATIC_PREFIX }}js/libs/jquery.validate.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/jquery.form.js"></script>


<script src="{{ STATIC_PREFIX }}js/libs/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/ui/jquery.ui.mouse.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/ui/jquery.ui.sortable.js"></script>



<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/transition.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/collapse.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/dropdown.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/button.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/modal.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/transition.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/tab.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/tooltip.js"></script>
<script src="{{ STATIC_PREFIX }}js/libs/bootstrap/popover.js"></script>

<script src="{{ STATIC_PREFIX }}js/script.js"></script>

<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
