{% extends "aldrovanda/base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="span9">
      {% include "aldrovanda/include/products_list.html" %}
    </div><!--/span-->
    <div class="span3">
       <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Nuevos Productos</li>
            
          </ul>
        </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div> <!-- /container -->
{% endblock %}