{% extends "products/base.html" %}

{% block title %}Aldrovanda - {{ current_category.name }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span9">
     Entre a la categoria
     {{category}}
     {{ example }}<br>
     {{ example1 }}<br>
     {% for category in parent_category_list %}
        {{category.name}}
        asdasd
     {% endfor %}
    </div><!--/span-->
    <div class="span3">
      
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
{% endblock %}