
{% extends "aldrovanda/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block script %} 
<script src="{{ STATIC_PREFIX }}js/forgot_password.js"></script>
{% endblock %}
{% block body %}
{% if key and email %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="well">
        <form action="{% url users.views.pass_recovery_save %}" method="post" class="form-horizontal" id="id-recovery-form-save">{% csrf_token %}
          <fieldset>
            <legend>Cambia el password de tu cuenta</legend>
            <div class="control-group">
              <label class="control-label" for="id-password">Password</label>
              <div class="controls">
                <input id="id-password" type="password" name="password1" >
                <input id="email" name="email" type="hidden" value="{{ email }}">
                <input id="key" name="key" type="hidden" value="{{ key }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="id-password-confirm">Confirm password</label>
              <div class="controls">
                <input id="id-password-confirm" type="password" name="password2" >
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">Cambiar password</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div><!--/span8-->
  </div><!--/row-->
</div> <!-- /container -->
{% endif %}
{% endblock %}
