
{% extends "aldrovanda/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block script %} 
<script src="{{ STATIC_PREFIX }}js/forgot_password.js"></script>
{% endblock %}
{% block body %}
{% include "aldrovanda/include/info_message.html" %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="well">
        <form action="{% url users.views.forgot_password_send_mail %}" method="post" class="form" id="id-recovery-form">{% csrf_token %}
          <fieldset>
            <legend>Olvidaste tu password?. pues que tonto.</legend>
            <div class="control-group">
              <label class="control-label" for="id-email">Ingresa tu correo y te enviaremos un link para resetear tu password.</label>
              <div class="controls">
                <input id="id-email" class="input-xlarge" type="text" name="email" >
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-large">Enviar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div><!--/span8-->
  </div><!--/row-->
</div> <!-- /container -->
{% endblock %}
